@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "CMU";
  src: url("../fonts/cmu.ttf") format("truetype");
}

@font-face {
  font-family: "CMU-IT";
  src: url("../fonts/cmu-it.ttf") format("truetype");
}
